<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" sizes="16x16" href="../css/fav.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    <div class="header">
      <h1>Dashboard</h1>
      <div class="nav">
        <div class="auth-links">
          <% if (token) { %>
          <div class="welcome-msg">
            <p>Welcome, <%= user.username %>!</p>
          </div>
          <% } else { %>
          <div class="auth-links">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
          </div>
          <% } %>
        </div>
        <form action="/logout" method="get">
          <button class="button-4" type="submit">Logout</button>
        </form>
      </div>
    </div>

    <a class="shorten-link" href="/url/shorten">Shorten a new URL</a>

    <table>
      <thead>
        <tr>
          <th>Original URL</th>
          <th>Shortened URL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% shortenedURLs.forEach(url => { %>
        <tr>
          <td><%= url.longURL %></td>
          <td>
            <a href="<%= url.shortURL %>" target="_blank"
              ><%= url.shortURL %></a
            >
          </td>
          <td>
            <span
              class="copy-button"
              onclick="copyToClipboard('<%= url.shortURL %>')"
              title="Copy to Clipboard"
            >
              <svg
                id="Copy_24"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <rect
                  width="16"
                  height="16"
                  stroke="none"
                  fill="#000000"
                  opacity="0"
                />

                <g transform="matrix(1 0 0 1 12 12)">
                  <path
                    style="
                      stroke: none;
                      stroke-width: 1;
                      stroke-dasharray: none;
                      stroke-linecap: butt;
                      stroke-dashoffset: 0;
                      stroke-linejoin: miter;
                      stroke-miterlimit: 4;
                      fill: #fafbfc;
                      fill-rule: nonzero;
                      opacity: 1;
                    "
                    transform=" translate(-12, -12)"
                    d="M 4 2 C 2.895 2 2 2.895 2 4 L 2 18 L 4 18 L 4 4 L 18 4 L 18 2 L 4 2 z M 8 6 C 6.895 6 6 6.895 6 8 L 6 20 C 6 21.105 6.895 22 8 22 L 20 22 C 21.105 22 22 21.105 22 20 L 22 8 C 22 6.895 21.105 6 20 6 L 8 6 z M 8 8 L 20 8 L 20 20 L 8 20 L 8 8 z"
                    stroke-linecap="round"
                  />
                </g>
              </svg>
            </span>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <script>
      function copyToClipboard(text) {
        var tempInput = document.createElement("input");
        tempInput.value = text;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
      }
    </script>
  </body>
</html>
